body {
  font-family: sans-serif;
  margin: 0;
  background: #fafafa;
 }
header {
  background: #ffd8ef;
  padding: 10px;
  text-align: center;
  }
nav a  {
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  color: #444;
}
.card-list  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
　　}
.card {
  width: 260px;
  background: white;
  padding: 12px;
  transition: 0.3s;
}
.card img　　 {
  width: 100%;
}
ul {
  padding-left: 20px;
}
.link {
  text-align: center;
  margin-bottom: 25px;
}

@media (max-width: 600px) {
  .card 　{
    width: 90%;
  }

}




